<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestHooksNamespace.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <userSettings>
        <TestHooksNamespace.Properties.Settings>
            <setting name="EventFile" serializeAs="String">
                <value>C:\\Temp\\Event.txt</value>
            </setting>
            <setting name="ErrorFile" serializeAs="String">
                <value>C:\\Temp\\Error.txt</value>
            </setting>
        </TestHooksNamespace.Properties.Settings>
    </userSettings>
</configuration>