<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PublishMQTTNamespace.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <userSettings>
        <PublishMQTTNamespace.Properties.Settings>
            <setting name="Broker" serializeAs="String">
                <value>10.74.64.48</value>
            </setting>
            <setting name="ErrorFile" serializeAs="String">
                <value>C:\\Temp\\PublishMQTTError.txt</value>
            </setting>
            <setting name="Topic" serializeAs="String">
                <value>MqttSample/InputComplete</value>
            </setting>
        </PublishMQTTNamespace.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
