<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RunSimioPortalExperiment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <RunSimioPortalExperiment.Properties.Settings>
            <setting name="EventFile" serializeAs="String">
                <value>C:\\Temp\\Event.txt</value>
            </setting>
            <setting name="StatusFile" serializeAs="String">
                <value>C:\\Temp\\Status.txt</value>
            </setting>
            <setting name="ClearStatusBeforeEachRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteStatusBeforeEachRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="URL" serializeAs="String">
                <value />
            </setting>
            <setting name="PersonalAccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="RetryResultsIntervalSeconds" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RetryResultsMaxAttempts" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="AuthenticationType" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="RunSchedule" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunScheduleRiskAnalysis" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProjectName" serializeAs="String">
                <value>AVEVAMES</value>
            </setting>
            <setting name="RunSchedulePlanScenarioName" serializeAs="String">
                <value>AVEVAMESSched</value>
            </setting>
            <setting name="RunExperimentExptRunDesc" serializeAs="String">
                <value />
            </setting>
            <setting name="PublishName" serializeAs="String">
                <value>AVEVAMESSchedPub</value>
            </setting>
            <setting name="PublishDescription" serializeAs="String">
                <value>AVEVAMESSchedPubDesc</value>
            </setting>
        </RunSimioPortalExperiment.Properties.Settings>        
    </userSettings>
</configuration>
